#Container{width:100%;
           /* height:auto; */
      border:1px solid blue;
           background:CornflowerBlue;
	  margin: 0;
	  padding:0;
	 
	  } 
#header{  top:0;
         height:60px;
        background-color:CornflowerBlue;
		width:100%;
            background:CornflowerBlue;
		text-align:center;
		
}
p{
	color:blue
}

.menu{
	  width:20%;
	  height:350px;
	  background:DarkGreen;
	  float:left;
	  
	  text-align:center;
	
}

#content{
	   width:70%;
	   height:350px;
	  
/* 	     background-image: url('bgfootball.jpg'); */
/* 	      background-size: 100%; */
       background-color:GhostWhite;
	   float:left;
	   text-align:center;
	   
}
.content2 { height:400px;
		background-color:red;
		}
.table1 th,tr,td{
	border:1px solid black;
}		
		

 #footer{
position: absolute;
bottom:0; 
width: 100%; 
padding: 0.5em 0;
    background-color: orange; 
    color: #000;
    text-align:center;
} 

ul
{
    list-style-type: none;
}

body{
	margin:0;
	color: black;
}
a:link {
    color: black;
}
a:visited {
    color: white;
}
.clear { clear:both;}